/* animations.css */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

.fade-in {
    animation: fadeIn 2s ease-in-out forwards;
}

.slide-in {
    animation: slideIn 1s ease-out forwards;
}

/* animations.css */

/* Animação de transição suave */
.fade-in {
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Animação de cor com roxo */
.color-transition {
    transition: color 0.3s ease;
}

.color-transition:hover {
    color: #5A2B81; /* Roxo Escuro */
}